.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-title {
    color: white;
    font-family: Neonderthaw;
    font-size: 80px;
    text-decoration: underline;
    animation: pulseColorsText 20s infinite alternate;
    margin: 60px 0 20px 0;
}